/* Custom styles */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.hero {
    background-color: beige;
    padding: 80px;
    text-align: center;
    color: #333;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.picture {
    text-align: center;
    margin-top: 40px;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lb-wrap {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #000000;
    position: relative;
  }
  .lb-wrap img {
    width: 100%;
    vertical-align: middle;
  }
  .lb-text {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFEEBC;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  /* Layout(No Edit) */
  @media(max-width:440px) {
    .lb-wrap {
    width: 95%;
    }
  }