/* Custom styles */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.background-wrap {
    background-image: url(./IMG/Title_back.jpg);
    background-size: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
}

.content span {
    color: white;
}

.content span:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.content span:nth-child(2) {
    font-size: 20px;
}


.lb-wrap {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #000000;
    position: relative;
}
.lb-wrap img {
    width: 100%;
    vertical-align: middle;
}
.lb-text {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #FFEEBC;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-lr;
}


/* Layout(No Edit) */
@media(max-width:440px) {
  .lb-wrap {
  width: 95%;
  }
}

div.galleryblock{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.81fr 1fr 0.81fr 1fr;


    grid-template-areas:
        "img1  img2  img3 img4   img5"
        "img1  img7  img3 img9   img5"
        "img6  img7  img8 img9   img10"
        "img6  img12 img8 img14  img10 "
        "img11 img12 img13 img14 img15";

    grid-gap: 0.5em;
}


.hero {
    background-color: beige;
    padding: 80px;
    text-align: center;
    color: #333;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.picture {
    text-align: center;
    margin-top: 40px;
}

.picture img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

